.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}
/* nav styles */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: 31px 160px;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.sign-in{
    font-size: 18px;
    font-weight: 700;
    padding: 15px 30px;
    border: 2px solid #006A50 ;
    color: #006A50;
    border-radius: 8px;
}
/* hero style */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 120px 160px;
}
.sub-title{
    height: auto;
    font-weight: 500px;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.hero-description{
    height: auto;
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
}
.btn-primary{
    height: auto;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    align-items: center;
}
.hero-img{
    width: 474px;
    height: 400px;
}
/* vision style */
.vision-section{
    max-width: 1280px;
    margin: 160px auto;
    align-items: center;
    

}
.vision-section h2{
 height: auto;
 font-size: 40px; 
 font-weight: bold; 
 color: #0E0E0E; 
}
.vision-description{
   height: 24px; 
   font-size: 16px;
   color: rgba(14, 14, 14, 0.7);
   margin-bottom: 32px;
}
.cards{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.card{
    text-align: left;
    border-radius: 16px;
    padding: 32px;
    gap: 24px;
}
.card-img{
    width: 64px;
    height: 64px;
}
.card h3{
font-weight: bold;
font-size: 20px;    
color: #0E0E0E;
}
.card-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}
.blue{
    background-color: rgba(84, 144, 245, 0.2);
}
.green{
background-color: rgba(198, 228, 214, 1);
}
.yellow{
background-color: rgba(247, 235, 207, 1);
}
.blue-btn{
 padding: 11px 20px;   
 align-items: center;
 gap: 48px;
 color: #FFFFFF;
 border: none;
 border-radius: 8px;
 background-color: #5490F5;
 
}
.green-btn{
    padding: 11px 20px;   
 align-items: center;
 gap: 48px;
 color: #FFFFFF;
 border: none;
 border-radius: 8px;
 background-color: #09A15C;
}
.yellow-btn{
     padding: 11px 20px;   
 align-items: center;
 gap: 48px;
 color: #FFFFFF;
 border: none;
 border-radius: 8px;
 background-color: #FFC239;
}
.yunus{
   background-color: rgba(182, 178, 178, 0.15);
    padding: 24px 48px; 
    gap: 24px;
    text-align: left;
    border-radius: 16px;
    margin-top: 32px;
}
.chief-adviser{
 font-size: 16px;   
 /* height: 24px; */
 color: rgba(14, 14, 14, 0.8);
}
.dr-yunus{
   background-image: url('../assets/quote-bg.png');
   background-repeat: no-repeat;
 }
 /* recent news */
 .news h2{
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
 }
 .news-text{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
 }
 .news-card-1 , .news-card-2{
    display: flex;
    background-color: rgba(182, 178, 178, 0.15);
gap: 32px;
padding: 48px;
text-align: left;
border-radius: 24px;
margin: 24px auto;
 }
 .news-img{
    width: 100%;
   border-radius: 24px;
  } 
  .donate{
    text-align: left;
    justify-items: center;
    gap: 32px;
  }  
  .donate h2{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
  }
  .donate-text{
    height: auto;
    text-align: center;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
  }
 .donate-btn{
    display: flex;
    text-align: left;
    background-color: #FFFFFF;
    font-weight: bold;
    }
    .donate-tk{
     font-weight: bold;
     font-size: 40px;
     color: rgba(14, 14, 14, 0.8);
      padding: 40px; 
      margin-left: 24px;
      border-radius: 16px; 
      border: none;
    
    }
    
    .tk{
        height: auto;
        width: auto;
        background-color: rgba(182, 178, 178, 0.15);
       
        

    }
    .amount{
        color: rgba(14, 14, 14, 0.3);
        font-size: 20px;
        padding: 20px 422px;
        text-align: center;
        gap: 24px;

    }
    /* footer style */
    footer{
        margin: 160px;
        text-align: center;
        gap: 64px;
        padding: 100px 80px;
        background-color: rgba(198, 228, 214, 1);
        border-radius: 24px;
    }

    footer h2{
        font-weight: bold;
        font-size: 40px;
        color: #0E0E0E;
    }
    .footer-descripsion{
        margin-bottom: 24px;
        gap: 24px;
        text-align: center;
        font-size: 16px;
        color: rgba(14, 14, 14, 0.7);
    }
    .footer-input{
     font-size: 16px;
     text-align: center; 
     margin-right: 0px;
     gap: 0px;

    }
    .footer-email{
        text-align: left;
        padding: 18px 40px;
        border: none;
        border-radius: 8px;
        border-radius: mixed;
    }